

<div class="container" id="DashboardView">

	<button ng-click="ctrl.logout()" id="logoutButton">Logout</button>
	<br>
	<br>
	
	<div class="row">
		<div class="col-sm-6">
			<h2>Add New Contact:</h2>
			<br>
			<label for="newContactName">Name: </label>
			<br>
			<input type="text" id="newContactName" ng-model="ctrl.newContact.contactName" placeholder="ex: Harrison Schultz">
			<br>
			<br>
			<br>
			<label for="newContactNumber">Phone Number: </label>
			<br>
			<input type="number" id="newContactNumber" ng-model="ctrl.newContact.contactNumber" placeholder="ex: 12223334444">
		</div>
		<div class="col-sm-6" id="saveContactDiv">
			<button ng-click="ctrl.saveNewContact()">Save Contact</button>
		</div>
	</div>

	<br>
	
	<hr class="style13">
	<hr class="style13">
	<hr class="style13">

	<br>
	<br>

	
	<h2>Conversations:</h2>
	<ul>
		<li ng-repeat="contact in ctrl.contacts" ng-click="ctrl.viewContact(contact)">{{contact.contactName}} - <span>{{contact.contactNumber}}</span></li>
	</ul>

</div>